
/* CSS classes for horizontal site directory */

ul.directory {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: gray;
	overflow: hidden;
	
}

li.directory {
	float: left;
	
}

li.directory a.directory{
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
        border-color: black;
        border-style: solid;
        border-width: 2px;
	
}

.directory.active {
	background-color: black;
	color: white;
	
}

li.directory:hover a.directory:hover {
	background-color: black;
	color: white;
	
}

/* CSS classes for vertical navigation bars. Based on the horizontal site directory above */

ul.vertical {
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    float: left;
    
}


li.vertical a.vertical {
    position: relative;
    text-align: center;
    display: block;
    color: white;
    background-color: gray;
    padding : 14px 16px;
    
}

li.vertical:hover a.vertical:hover {
    background-color: black;
    color: white;
    
}

/* MainContent area content */

.Main_Content {
    position: relative;
    left: 30px;
    border: 3px;
    width: 40%;

}

/* my attempt at a dropdown menu. Doesnt work, here be Dragons */
.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropdown-content {
	display: none;
	position: absolute;
    background-color: gray;

}



